@import 'variables'
@import 'mixin'

.main-accueil
  @include centralMain()

  &__section
    @include centralSection()

    &__articles
      @include centralArticles()

      &__title
        margin: 47px 0 26px

      &__p:nth-child(2),
      &__p:nth-child(3),
      &__p:nth-child(4)
        margin-bottom: 10px

    .first
      margin-right: 20%

    .second
      display: flex
      justify-content: space-between

      p
        margin-bottom: 25px

      ol
        margin-left: 30px

        li
          padding-bottom: 15px

    &__line
      width: 250px
      margin-top: 40px
      margin-bottom: 40px
      color: $blank