@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&family=Roboto&display=swap')

//COLOR
$primary-color: #121212

//FONT-COLOR
$primary-font-color: #c6c6c6
$secondary-font-color: #f9a825
$third-font-color: #c10a0a

//FONTS
$philo: 'Philosopher', sans-serif
$roboto: 'Roboto', sans-serif

//FONT-WEIGHT
$bold: 700

//FONT-SIZE
$norm14: 0.75rem
$norm16: 1rem
$norm18: 1.12rem
$title: 1.75rem


